[Unit]
Description=Backend App
After=network.target

[Service]
User=buildpiper
Group=buildpiper
WorkingDirectory=/home/buildpiper/salary-api/backend-app
ExecStart=/usr/bin/java -jar /home/buildpiper/salary-api/backend-app/target/backend-app-1.0.0.jar
Restart=always

[Install]
WantedBy=multi-user.target
