[Unit]
Description=Backend App
After=network.target

[Service]
ExecStart=java -jar /home/buildpiper/salary-api/backend-app/target/backend-app-1.0.0.jar
WorkingDirectory=/home/buildpiper/salary-api/backend-app
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
